[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/blake/.emacs.d/launch-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm